.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  .app-name {
    font-size: 1.5em;
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
  .has-gradient-text {
    background: -webkit-linear-gradient(#13f7f4, #2af598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;

    .board-bar {
      background: rgba(gray, 0.5);
      padding: 0.5em 1em;

      .board-name {
        font-size: 1.25em;
        font-weight: bold;
        color: white;
      }
    }

    .board-wrapper {
      display: flex;
      flex-grow: 1;
      overflow-x: auto;

      .board-columns {
        display: flex;
        flex-grow: 1;

        .board-column {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          flex-basis: 0;
          min-width: 19em;
          margin: 3em;
          padding: 1.5em;
          border-radius: 4px;
          &:not(:first-child) {
            margin-left: 0;
          }
          background: rgba(white, 0.5);

          .column-title {
            font-size: 1em;
            font-weight: bold;
            font-family: "Lato", sans-serif;
            text-transform: uppercase;
            margin-bottom: 1.25em;
          }

          .tasks-container {
            flex-grow: 1;

            .task {
              display: flex;
              padding: 0.75em 0.75em;
              background: white;
              margin-bottom: 1em;
              border-bottom: solid 2px #ddd;
              border-radius: 4px;
              box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.05),
                0 3px 14px 2px rgba(0, 0, 0, 0.05);
            }
          }
        }
      }
    }
  }
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
